# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Environment variables
.env
.env.local

# System files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Application specific
#static/images/*
#!static/images/.gitkeep
*.log

#IVP selection
pyproject.toml
replit.nix
uv.lock